<script>
	import '../app.css';
</script>

<svelte:head>
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
		href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap"
		rel="stylesheet"
	/>
</svelte:head>

<div class="bg-slate-800 h-screen w-screen py-2 px-4">
	<slot />
</div>
